*{
    margin: 0;  
    padding: 0;
}


header {
    display: block;
    background-color: rgba(34, 0, 255, 0.197);
    height: 60px;
    margin-top: 50px;
    padding: 5px;
    
}

header p {
    text-align: center;
    font-size: 40px;
}

body {
   background-color: rgba(222, 184, 135, 0.204);
}

  

















































































































/* {
    margin: 0%;
    padding: 0%;
} 


header{/* Parte de cima  
    background-color: rgba(255, 255, 255, 0.967);
}


.a1 {

}






         

main {
/*     display: flex;
    position: static; 
    width: 300px;
    margin: 100px;
    padding: 30px; 
    background-color: rgba(183, 236, 238, 0.398);
    color: black;
}




.div-footer{
    margin-top: 600px;
    padding: 34px; 
    background-color: rgba(4, 245, 253, 0.268);
    text-align: center;
}

div img {
    width: 25px;
}

.html-logo {
    width: 30px;
}

.css-logo {
    width: 22px;
}
 
 */




